.chatbot-main{
    height: 100vh;
    border: 1px black solid;
}

.card-header{
    background-color: #337c73;
}
.card{
    height: 70vh;
    margin-right: 3rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,035);
}
.card-note{
    font-size: small;
}
.card-body{
    overflow-y: auto;
}
.faq-text{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
    font-size: medium;
    float: right;
    cursor: pointer;
    margin-left: auto;
}
.system-chat-res{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
    font-size: medium;
    float: left;
    cursor: pointer;
    margin-left: auto;
}
.user-query{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
    background-color: #337c73;
    font-size: medium;
    float: right;
    margin-left: auto;
    color:white
}

.btn-success{
    background-color: #337c73!important;
}

.chat-send{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#message-icon,#close-icon{
    height: 48px;
    width: 48px;
    margin-top: .1rem;
    cursor: pointer;
}