<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/home-logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='animation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chatbot.css')}}">
    {%block page_style%}{%endblock%}
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-color p-3">
        <div class="container-fluid">
          <div class="navbar-brand">
            <img src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class=" page-links collapse navbar-collapse" id="navbarNavDropdown">
            <span class="filler"></span>
            <ul class="navbar-nav  navbar-links">
              <li class="nav-item">
                <a class="nav-link mx-2 " href="/#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/#about">About us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link mx-2" href="/#services">Services</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link mx-2" href="/#products">Products</a>

              </li>
            </ul>
            <ul class="navbar-nav navbar-user d-none d-lg-inline-flex">
              <li class="nav-item mx-2 user-navigation">
                {% if user_in_session != None %}
                    <div class="user-session" style="background-color: white; height: 27px; width: 27px; 
                    border-radius: 50%; text-align: center; padding-top: .2rem; margin-top: 1.5rem; margin-right: 1rem;
                    margin-left: 2rem;"><a href="" style="text-decoration: none;">
                    <span style="color: #003A33; font-weight: 600;">{{user_in_session}}</span></a></div>
                    <img class="separator" src="{{url_for('static', filename='images/separator.png')}}" alt="">
                    <a class="nav-link mx-2 login" href="{{url_for('logout')}}">Log out</a>
                {%else%}
                    <a class="nav-link mx-2 login" href="{{url_for('register', error=False)}}">Sign up</a>
                    <img class="separator" src="{{url_for('static', filename='images/separator.png')}}" alt="">
                    <a class="nav-link mx-2 login" href="{{url_for('login')}}">Log In</a>
                {% endif%}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {%block content%}
    {%endblock%}
      <div class="chatbot-main fixed-top d-flex flex-column row-gap-3 justify-content-end align-items-end pb-4">
        <div id="chatbot" class="card w-25">
            <div class="card-header text-white">
                <b>Machica</b> 
            </div>
            <div id="chat-body" class="card-body position-relative d-flex flex-column">
                <p class="text-muted text-center card-note">
                    Pre defined question will be answered automatically by the system.
                    However custom questions will take some time to be answered.
                </p>
                <p class="rounded-3 faq-text p-1">
                    What are your services?
                </p>
                <p class="rounded-3 faq-text p-1">
                    What is your store hours?
                </p>
                <p class="rounded-3 faq-text p-1 d-block">
                    What is the location of your clinic?
                </p>
            </div>
            <div class="card-footer d-flex flex-row align-items-center column-gap-3 bg-white">
                <input id="user-question" type="text" class="form-control" placeholder="Ask a question...">
                <img id="chat-send" class="chat-send" width="32" height="32" src="https://img.icons8.com/ios-glyphs/60/198754/sent.png" alt="sent"/>
            </div>
        </div>
    
        <button id="chatbot-btn" class="btn btn-success rounded-5 p-1 ms-2">
            <img width="48" height="48" id="message-icon" src="https://img.icons8.com/material-sharp/48/FFFFFF/speech-bubble-with-dots.png" alt="speech-bubble-with-dots"/>
            <img width="48" height="48" id="close-icon"   src="https://img.icons8.com/ios-filled/50/FFFFFF/circled-chevron-down.png" alt="circled-chevron-down"/>
        </button>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='services_details.js')}}"></script>
</body>
</html>